/* 

CONTENTS

GLOBAL VAR
DEFAULT
HEADER | FOOTER
CONTAINER
BACKGROUND
TYPOGRAPHY
GRIDSYS
FORM
INNER PAGE
UTILITIES

*/

/*--------------------------------------------GLOBAL-VAR-------------------------------------------*/

:root {
    scroll-behavior: smooth;
    --primary: #35bd7e;
    --secondary: none;
    --tertiary: none;
    --white: #ffffff;
    --pale-pink: #f2dede;
    --harp: #eceeef;
    --oyster-pink: #ebccd1;
    --chrome-white: #dff0d8;
    --gainsboro: #dddddd;
    --beryl-green: #d6e9c6;
    --silver-chalice: #a8a8a8a8;
    --davy-gray: #545454;
    --gray: #333333;
    --black: #000000;
    --congress-blue: #014c8c;
    --science-blue: #0275d8;
    --success: #3c763d;
    --danger: #a94442;
    --font-family-default: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-title: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-family-subtitle: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --gutter-x-sm: .5rem;
    --gutter-y-sm: .5rem;
    --gutter-x: 1rem;
    --gutter-y: 1rem;
}

::selection { background-color: var(--primary); color: inherit; }

/*--------------------------------------------DEFAULT-------------------------------------------*/

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a { color: inherit; text-decoration: none; }

div, article, section, dl, dt, 
dd, table, tr, td, ul, ol, li, 
p, span, small, em, h1, h2, h3, 
h4, h5, h6, nav, figure, figcaption {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    margin: 0 auto;
    position: relative;
}
    @media screen and (max-width: 1200px) {
        body {
            min-width: 320px
        }
    }

/* cookie */

.cc-animate.cc-revoke.cc-bottom{
    font-size: 14px;
    padding: 5px 10px;
    position: fixed;
    display: block!important;
    transform: none!important;
    bottom: 0!important;
    left: 20px!important;
}

/* call to action */

.destroy-on-load, .cta {
    display: none;
}

/*--------------------------------------------HEADER+FOOTER-------------------------------------------*/

#header nav a#pull {
    display: none;
}

#header nav {
    background-color: var(--primary);
    position: relative;
    display: flex;
    align-items: center;
    align-content: center;
    width: 100%;
}

#header nav ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    white-space: nowrap;
}

#header nav ul li a {
    padding: 1rem;
}

#header nav ul li.active-menu a, 
#header nav ul li a:hover {
    font-weight: bold;
}

nav ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
    @media screen and (max-width: 960px) {
        #header nav {
            display: block;
        }
        #header nav ul {
            width: 100%;
            display: none;
            height: auto;
            border-bottom: 5px solid var(--primary);
            padding: 0 15px;
            white-space: normal;
        }
        #header nav ul li {
            width: 100%;
            position: relative;
        }
        #header nav ul li a {
            padding: 10px 0;
            text-align: left;
            width: 100%;
        }
        #header nav a strong {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 15px;
        }
        #header nav a#pull {
            display: block;
            background-color: var(--primary);
            height: 60px;
            padding: 10px 0;
            width: 100%;
            position: relative;
        }
        #header nav a#pull:after {
            content:"";
            background: url('../images/nav-icon.png') no-repeat;
            width: 20px;
            height: 20px;
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
        }
        .cta {
            background: var(--primary)  url("../images/common/phonecall.png") no-repeat center center;
            border-bottom-left-radius: 40px;
            border-top: 2px solid var(--primary) ;
            border-top-left-radius: 40px;
            bottom: 10%;
            display: block;
            height: 60px;
            position: fixed;
            right: 0;
            text-decoration: none;
            text-indent: -9999em;
            width: 60px;
            z-index: 999;
        }
    }

#footer nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 1rem;
}

#footer nav ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    white-space: nowrap;
    gap: 1rem;
}

#footer nav ul li {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    box-sizing: border-box;
}

#footer nav ul li a:hover {
    font-weight: bold;
}

/*-----------------------------------------------CONTAINER-----------------------------------------------*/

.bg-container { padding: var(--gutter-y-sm) var(--gutter-x-sm); }

.text-container { padding: var(--gutter-y-sm) var(--gutter-x-sm); }

.img-container { padding: var(--gutter-y-sm) var(--gutter-x-sm); }

.container { margin: 0 auto; }

    @media screen and (min-width: 960px) {

        /* banner */

        #banner .container {
            max-width: min(1920px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #banner .bg-container { 
            max-width: min(1440px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #banner .text-container {
            max-width: min(400px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #banner .img-container {
            max-width: min(350px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }

        /* welcome */

        #welcome .container {
            max-width: min(1920px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #welcome .bg-container { 
            max-width: min(1440px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #welcome .text-container {
            max-width: min(400px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #welcome .img-container {
            max-width: min(350px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }

        /* services */

        #services .container {
            max-width: min(1920px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #services .bg-container { 
            max-width: min(1440px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #services .text-container {
            max-width: min(400px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #services .img-container {
            max-width: min(350px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }

        /* gallery */

        #gallery .container {
            max-width: min(1920px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #gallery .bg-container { 
            max-width: min(1440px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #gallery .text-container {
            max-width: min(400px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #gallery .img-container {
            max-width: min(350px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }

        /* testimonials */

        #testimonials .container {
            max-width: min(1920px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #testimonials .bg-container { 
            max-width: min(1440px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #testimonials .text-container {
            max-width: min(400px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #testimonials .img-container {
            max-width: min(350px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        
        /* contact */

        #contact .container {
            max-width: min(1920px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #contact .bg-container { 
            max-width: min(1440px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #contact .text-container {
            max-width: min(400px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #contact .img-container {
            max-width: min(350px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }

        /* footer */

        #footer .container {
            max-width: min(1920px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #footer .bg-container { 
            max-width: min(1440px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #footer .text-container {
            max-width: min(400px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }
        #footer .img-container {
            max-width: min(350px, 100%);
            padding: var(--gutter-y) var(--gutter-x);
        }

    }

/*-----------------------------------------------BACKGROUND-----------------------------------------------*/

/* banner */

#banner .bg-container { background-color: url('../images/common/') no-repeat top; }

/* welcome */

#welcome .bg-container { background-color: url('../images/common/') no-repeat top; }

/* services */

#services .bg-container { background-color: url('../images/common/') no-repeat top; }

/* gallery */

#gallery .bg-container { background-color: url('../images/common/') no-repeat top; }

/* testimonials */

#testimonials .bg-container { background-color: url('../images/common/') no-repeat top; }

/* contact */

#contact .bg-container { background-color: url('../images/common/') no-repeat top; }

/* footer */

#footer .bg-container { background-color: url('../images/common/') no-repeat top; }

/*-----------------------------------------------TYPOGRAPHY-----------------------------------------------*/

/* default font */

nav, body { font-family: var(--font-family-default); }

.title, .title-sm, .title-md, .title-lg { font-family: var(--font-family-title); }

.subtitle, .subtitle-sm, .subtitle-md, .subtitle-lg { font-family: var(--font-family-subtitle); }

/* header */

#header nav {
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
}

/* banner */

#banner .title {
    font-size: clamp(24px, 4vw, 32px);
    line-height: normal;
    letter-spacing: normal;
}

#banner .subtitle {
    font-size: clamp(16px, 2vw, 25px);
    line-height: normal;
    letter-spacing: normal;
}

/* welcome */

#welcome .title {
    font-size: clamp(24px, 4vw, 32px);
    line-height: normal;
    letter-spacing: normal;
}

#welcome .subtitle {
    font-size: clamp(16px, 2vw, 25px);
    line-height: normal;
    letter-spacing: normal;
}

/* services */

#services .title {
    font-size: clamp(24px, 4vw, 32px);
    line-height: normal;
    letter-spacing: normal;
}

#services .subtitle {
    font-size: clamp(16px, 2vw, 25px);
    line-height: normal;
    letter-spacing: normal;
}

/* gallery */

#gallery .title {
    font-size: clamp(24px, 4vw, 32px);
    line-height: normal;
    letter-spacing: normal;
}

#gallery .subtitle {
    font-size: clamp(16px, 2vw, 25px);
    line-height: normal;
    letter-spacing: normal;
}

/* testimonials */

#testimonials .title {
    font-size: clamp(24px, 4vw, 32px);
    line-height: normal;
    letter-spacing: normal;
}

#testimonials .subtitle {
    font-size: clamp(16px, 2vw, 25px);
    line-height: normal;
    letter-spacing: normal;
}

/* contact */

#contact .title {
    font-size: clamp(24px, 4vw, 32px);
    line-height: normal;
    letter-spacing: normal;
}

#contact .subtitle {
    font-size: clamp(16px, 2vw, 25px);
    line-height: normal;
    letter-spacing: normal;
}

#contact ::placeholder {
    font-family: var(--font-family-default);
    color: var(--davy-gray);
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

#contact input[type="text"], #contact textarea {
    font-family: var(--font-family-default);
    color: var(--black);
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

#contact input[type="submit"] {
    font-family: var(--font-family-default);
    color: var(--white);
    font-size: 15px;
}

/* footer */

#footer nav {
    font-size: 15px;
    line-height: normal;
    letter-spacing: normal;
}

/*-----------------------------------------------GRIDSYS-----------------------------------------------*/

.row {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.col { flex: 0 0 auto; width: auto; }

.col-1 { flex: 0 0 auto; width: 8.3333333333%; }

.col-2 { flex: 0 0 auto; width: 16.6666666667%; }

.col-3 { flex: 0 0 auto; width: 25%; }

.col-4 { flex: 0 0 auto; width: 33.3333333333%; }

.col-5 { flex: 0 0 auto; width: 41.6666666667%; }

.col-6 { flex: 0 0 auto; width: 50%; }

.col-7 { flex: 0 0 auto; width: 58.3333333333%; }

.col-8 { flex: 0 0 auto; width: 66.6666666667%; }

.col-9 { flex: 0 0 auto; width: 75%; }

.col-10 { flex: 0 0 auto; width: 83.3333333333%; }

.col-11 { flex: 0 0 auto; width: 91.6666666667%; }

.col-12 { flex: 0 0 auto; width: 100%; }

    @media screen and (min-width: 1025px) {

        .col-lg { flex: 0 0 auto; width: auto; }

        .col-lg-1 { flex: 0 0 auto; width: 8.3333333333%; }

        .col-lg-2 { flex: 0 0 auto; width: 16.6666666667%; }

        .col-lg-3 { flex: 0 0 auto; width: 25%; }

        .col-lg-4 { flex: 0 0 auto; width: 33.3333333333%; }

        .col-lg-5 { flex: 0 0 auto; width: 41.6666666667%; }

        .col-lg-6 { flex: 0 0 auto; width: 50%; }

        .col-lg-7 { flex: 0 0 auto; width: 58.3333333333%; }

        .col-lg-8 { flex: 0 0 auto; width: 66.6666666667%; }

        .col-lg-9 { flex: 0 0 auto; width: 75%; }

        .col-lg-10 { flex: 0 0 auto; width: 83.3333333333%; }

        .col-lg-11 { flex: 0 0 auto; width: 91.6666666667%; }

        .col-lg-12 { flex: 0 0 auto; width: 100%; }

    }
    @media screen and (min-width: 960px) {

        .col-md { flex: 0 0 auto; width: auto; }

        .col-md-1 { flex: 0 0 auto; width: 8.3333333333%; }

        .col-md-2 { flex: 0 0 auto; width: 16.6666666667%; }

        .col-md-3 { flex: 0 0 auto; width: 25%; }

        .col-md-4 { flex: 0 0 auto; width: 33.3333333333%; }

        .col-md-5 { flex: 0 0 auto; width: 41.6666666667%; }

        .col-md-6 { flex: 0 0 auto; width: 50%; }

        .col-md-7 { flex: 0 0 auto; width: 58.3333333333%; }

        .col-md-8 { flex: 0 0 auto; width: 66.6666666667%; }

        .col-md-9 { flex: 0 0 auto; width: 75%; }

        .col-md-10 { flex: 0 0 auto; width: 83.3333333333%; }

        .col-md-11 { flex: 0 0 auto; width: 91.6666666667%; }

        .col-md-12 { flex: 0 0 auto; width: 100%; }

    }
    @media screen and (min-width: 500px) {

        .col-sm { flex: 0 0 auto; width: auto; }

        .col-sm-1 { flex: 0 0 auto; width: 8.3333333333%; }

        .col-sm-2 { flex: 0 0 auto; width: 16.6666666667%; }

        .col-sm-3 { flex: 0 0 auto; width: 25%; }

        .col-sm-4 { flex: 0 0 auto; width: 33.3333333333%; }

        .col-sm-5 { flex: 0 0 auto; width: 41.6666666667%; }

        .col-sm-6 { flex: 0 0 auto; width: 50%; }

        .col-sm-7 { flex: 0 0 auto; width: 58.3333333333%; }

        .col-sm-8 { flex: 0 0 auto; width: 66.6666666667%; }

        .col-sm-9 { flex: 0 0 auto; width: 75%; }

        .col-sm-10 { flex: 0 0 auto; width: 83.3333333333%; }

        .col-sm-11 { flex: 0 0 auto; width: 91.6666666667%; }

        .col-sm-12 { flex: 0 0 auto; width: 100%; }

    }

/*-----------------------------------------------FORM-----------------------------------------------*/

form .messages p {
    display: none;
    font-family: var(--font-family-default) !important;
    font-weight: 400 !important;
    letter-spacing: 0 !important;
    font-size: 16px !important;
}

form .loading {
    display: none;
}

form .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

form .alert-success {
    color: var(--success);
    background-color: var(--chrome-white);
    border-color: var(--beryl-green);
}

form .alert-danger {
    color: var(--danger);
    background-color: var(--pale-pink);
    border-color: var(--oyster-pink);
}

form input[type="text"], form textarea {
    height: 45px;
    display: block;
    width: 100%;
    border: 1px solid var(--silver-chalice);
    padding: 5px 10px;
    box-sizing: border-box;
    margin: 0 auto 8px;
    resize: none;
    outline: none;
}

form textarea {
    height: 150px;
    padding-top:10px;
}

form input[type="submit"] {
    border: none;
}

form .recap {
    display: inline-block;
}

form .g-recaptcha div {
    margin: 0 auto 10px;
}

form .ctc-hide {
    display: none;
}

/*---------------------------------------INNER PAGE-------------------------------------------*/

.inner #content {
    font-family: var(--font-family-default);
    min-height: 400px;
    padding: 40px 0;
    max-width: 800px;
    margin: 0 auto
}

.inner #content h1 {
    margin-bottom: 1rem;
}

#content .gallery-container {
    text-align: center;
}

#content .gallery {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content .gallery li {
    display: inline-block;
}

#content .thumbnail {
    background-color: var(--white);
    border: 1px solid var(--gainsboro);
    border-radius: 4px;
    display: block;
    line-height: .42857;
    margin-bottom: 20px;
    padding: 4px;
    transition: border 0.5s ease-in-out 0s;
}

#content .thumbnail:hover {
    transform: scale(1.02);
}

#content .page_navigation {
    display: inline-block;
}

#content .page_link,
#content .previous_link,
#content .next_link,
#content  .first_link,
#content  .last_link, 
#content .ellipse {
    background-color: var(--white);
    border: 1px solid var(--gainsboro);
    color:  var(--science-blue);
    display: inline-block;
    line-height: 1.25;
    margin-left: -1px;
    padding: 0.5rem 0.75rem;
    position: relative;
}

#content .page_navigation > a:hover , 
.page_navigation > a.active_page {
    background-color: var(--harp);
    border-color: var(--gainsboro);
    color: var(--congress-blue);
    text-decoration: none;
}

.inner #content .gallery-container{
    margin-bottom: 20px
}

/* privacy policy */

.inPrivacyBox {
    max-width: 850px;
    margin: 0 auto;
}

.inPrivacyBox p {
    text-align: justify!important;
}

/*--------------------------------------------UTILITIES-------------------------------------------*/

/* text color */

.text-primary { color: var(--primary); }

.text-secondary { color: var(--secondary); }

.text-tertiary { color: var(--tertiary); }

.text-white { color: var(--white); }

.text-black { color: var(--black); }

.text-gray { color: var(--gray); }

/* background color */

.bg-primary { background-color: var(--primary); }

.bg-secondary { background-color: var(--secondary); }

.bg-tertiary { background-color: var(--tertiary); }

.bg-white { background-color: var(--white); }

.bg-black { background-color: var(--black); }

.bg-gray { background-color: var(--gray); }

/* font weight */

.fw-normal { font-weight: 400; }

.fw-medium { font-weight: 500; }

.fw-semibold { font-weight: 600; }

.fw-bold { font-weight: 700; }

.fw-extrabold { font-weight: 800; }

.fw-black { font-weight: 900; }

/* font style */

.fs-italic { font-style: italic; }

.fs-oblique { font-style: oblique; }

/* text alignment */

.text-left { text-align: left; }

.text-center { text-align: center; }

.text-right { text-align: right; }

    @media screen and (min-width: 1025px) {

        .text-lg-left { text-align: left; }
        
        .text-lg-center { text-align: center; }
        
        .text-lg-right { text-align: right; }

    }
    @media screen and (min-width: 960px) {
        
        .text-md-left { text-align: left; }
        
        .text-md-center { text-align: center; }
        
        .text-md-right { text-align: right; }

    }
    @media screen and (min-width: 500px) {

        .text-sm-left { text-align: left; }

        .text-sm-center { text-align: center; }

        .text-sm-right { text-align: right; }

    }

/* float */

.float-left { float: left; }

.float-right { float: right; }

    @media screen and (min-width: 1025px) {

        .float-lg-left { float: left; }

        .float-lg-right { float: right; }

    }
    @media screen and (min-width: 960px) {

        .float-md-left { float: left; }

        .float-md-right { float: right; }
        
    }
    @media screen and (min-width: 500px) {

        .float-sm-left { float: left; }

        .float-sm-right { float: right; }
        
    }

/* margin */

.mx-auto { margin-left: auto; margin-right: auto; }

.my-auto { margin-top: auto; margin-bottom: auto; }

.me-auto { margin-right: auto; }

.ms-auto { margin-left: auto; }

    @media screen and (min-width: 1025px) {

        .mx-lg-auto { margin-left: auto; margin-right: auto; }

        .my-lg-auto { margin-top: auto; margin-bottom: auto; }

        .me-lg-auto { margin-right: auto; }

        .ms-lg-auto { margin-left: auto; }

    }
    @media screen and (min-width: 960px) {

        .mx-md-auto { margin-left: auto; margin-right: auto; }

        .my-md-auto { margin-top: auto; margin-bottom: auto; }

        .me-md-auto { margin-right: auto; }

        .ms-md-auto { margin-left: auto; }

    }
    @media screen and (min-width: 500px) {

        .mx-sm-auto { margin-left: auto; margin-right: auto; }

        .my-sm-auto { margin-top: auto; margin-bottom: auto; }

        .me-sm-auto { margin-right: auto; }

        .ms-sm-auto { margin-left: auto; }

    }

/* display */

.d-block { display: block; }

.d-inline { display: inline; }

.d-inline-block { display: inline-block; }

.d-flex { display: flex; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; }

.d-flex-wrap { display: flex; flex-wrap: wrap; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; }

    @media screen and (min-width: 1025px) {

        .d-lg-block { display: block; }

        .d-lg-inline { display: inline; }

        .d-lg-inline-block { display: inline-block; }

        .d-lg-flex { display: flex; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; }

        .d-lg-flex-wrap { display: flex; flex-wrap: wrap; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; }

    }
    @media screen and (min-width: 960px) {
        
        .d-md-block { display: block; }

        .d-md-inline { display: inline; }

        .d-md-inline-block { display: inline-block; }

        .d-md-flex { display: flex; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; }

        .d-md-flex-wrap { display: flex; flex-wrap: wrap; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; }

    }
    @media screen and (min-width: 500px) {
        
        .d-sm-block { display: block; }

        .d-sm-inline { display: inline; }

        .d-sm-inline-block { display: inline-block; }

        .d-sm-flex { display: flex; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; }

        .d-sm-flex-wrap { display: flex; flex-wrap: wrap; display: -webkit-flex; display: -moz-flex; display: -ms-flex; display: -o-flex; }

    }

/* flex properties */

.justify-content-space-evenly { justify-content: space-evenly; }

.justify-content-space-around { justify-content: space-around; }

.justify-content-space-between { justify-content: space-between; }

.justify-content-center { justify-content: center; }

.justify-content-baseline { justify-content: baseline; }

.align-items-baseline { align-items: baseline; }

.align-items-start { align-items: flex-start; }

.align-items-center { align-items: center; }

.align-items-end { align-items: end; }

.align-items-stretch { align-items: stretch; }

.align-content-start { align-content: flex-start; }

.align-content-end { align-content: flex-end; }

.align-content-space-around { align-content: space-around; }

.align-content-space-between { align-content: space-between; }

.align-content-stretch { align-content: stretch; }

.align-content-center { align-content: center; }

.flex-column { flex-direction: column; }

.flex-column-reverse { flex-direction: column-reverse; }

.flex-row { flex-direction: row; }

.flex-row-reverse { flex-direction: row-reverse; }

    @media screen and (min-width: 1025px) {
        
        .justify-lg-content-space-evenly { justify-content: space-evenly; }

        .justify-lg-content-space-around { justify-content: space-around; }

        .justify-lg-content-space-between { justify-content: space-between; }

        .justify-lg-content-center { justify-content: center; }

        .justify-lg-content-baseline { justify-content: baseline; }

        .align-lg-items-baseline { align-items: baseline; }

        .align-lg-items-start { align-items: flex-start; }

        .align-lg-items-center { align-items: center; }

        .align-lg-items-end { align-items: end; }

        .align-lg-items-stretch { align-items: stretch; }

        .align-lg-content-start { align-content: flex-start; }

        .align-lg-content-end { align-content: flex-end; }

        .align-lg-content-space-around { align-content: space-around; }

        .align-lg-content-space-between { align-content: space-between; }

        .align-lg-content-stretch { align-content: stretch; }

        .align-lg-content-center { align-content: center; }

        .flex-lg-column { flex-direction: column; }

        .flex-lg-column-reverse { flex-direction: column-reverse; }

        .flex-lg-row { flex-direction: row; }

        .flex-lg-row-reverse { flex-direction: row-reverse; }

    }
    @media screen and (min-width: 960px) {
        
        .justify-md-content-space-evenly { justify-content: space-evenly; }

        .justify-md-content-space-around { justify-content: space-around; }

        .justify-md-content-space-between { justify-content: space-between; }

        .justify-md-content-center { justify-content: center; }

        .justify-md-content-baseline { justify-content: baseline; }

        .align-md-items-baseline { align-items: baseline; }

        .align-md-items-start { align-items: flex-start; }

        .align-md-items-center { align-items: center; }

        .align-md-items-end { align-items: end; }

        .align-md-items-stretch { align-items: stretch; }

        .align-md-content-start { align-content: flex-start; }

        .align-md-content-end { align-content: flex-end; }

        .align-md-content-space-around { align-content: space-around; }

        .align-md-content-space-between { align-content: space-between; }

        .align-md-content-stretch { align-content: stretch; }

        .align-md-content-center { align-content: center; }

        .flex-md-column { flex-direction: column; }

        .flex-md-column-reverse { flex-direction: column-reverse; }

        .flex-md-row { flex-direction: row; }

        .flex-md-row-reverse { flex-direction: row-reverse; }

    }
    @media screen and (min-width: 500px) {
        
        .justify-sm-content-space-evenly { justify-content: space-evenly; }

        .justify-sm-content-space-around { justify-content: space-around; }

        .justify-sm-content-space-between { justify-content: space-between; }

        .justify-sm-content-center { justify-content: center; }

        .justify-sm-content-baseline { justify-content: baseline; }

        .align-sm-items-baseline { align-items: baseline; }

        .align-sm-items-start { align-items: flex-start; }

        .align-sm-items-center { align-items: center; }

        .align-sm-items-end { align-items: end; }

        .align-sm-items-stretch { align-items: stretch; }

        .align-sm-content-start { align-content: flex-start; }

        .align-sm-content-end { align-content: flex-end; }

        .align-sm-content-space-around { align-content: space-around; }

        .align-sm-content-space-between { align-content: space-between; }

        .align-sm-content-stretch { align-content: stretch; }

        .align-sm-content-center { align-content: center; }

        .flex-sm-column { flex-direction: column; }

        .flex-sm-column-reverse { flex-direction: column-reverse; }

        .flex-sm-row { flex-direction: row; }

        .flex-sm-row-reverse { flex-direction: row-reverse; }

    }

/* flex gap */

.g-1 { gap: 1rem; }

.g-2 { gap: 2rem; }

.g-3 { gap: 3rem; }

.rg-1 { row-gap: 1rem; }

.rg-2 { row-gap: 2rem; }

.rg-3 { row-gap: 3rem; }

.cg-1 { column-gap: 1rem; }

.cg-2 { column-gap: 2rem; }

.cg-3 { column-gap: 3rem; }

    @media screen and (min-width: 1025px) {
        
        .g-lg-1 { gap: 1rem; }

        .g-lg-2 { gap: 2rem; }

        .g-lg-3 { gap: 3rem; }

        .rg-lg-1 { row-gap: 1rem; }

        .rg-lg-2 { row-gap: 2rem; }

        .rg-lg-3 { row-gap: 3rem; }

        .cg-lg-1 { column-gap: 1rem; }

        .cg-lg-2 { column-gap: 2rem; }

        .cg-lg-3 { column-gap: 3rem; }

    }
    @media screen and (min-width: 960px) {
        
        .g-md-1 { gap: 1rem; }

        .g-md-2 { gap: 2rem; }

        .g-md-3 { gap: 3rem; }

        .rg-md-1 { row-gap: 1rem; }

        .rg-md-2 { row-gap: 2rem; }

        .rg-md-3 { row-gap: 3rem; }

        .cg-md-1 { column-gap: 1rem; }

        .cg-md-2 { column-gap: 2rem; }

        .cg-md-3 { column-gap: 3rem; }

    }
    @media screen and (min-width: 500px) {
        
        .g-sm-1 { gap: 1rem; }

        .g-sm-2 { gap: 2rem; }

        .g-sm-3 { gap: 3rem; }

        .rg-sm-1 { row-gap: 1rem; }

        .rg-sm-2 { row-gap: 2rem; }

        .rg-sm-3 { row-gap: 3rem; }

        .cg-sm-1 { column-gap: 1rem; }

        .cg-sm-2 { column-gap: 2rem; }

        .cg-sm-3 { column-gap: 3rem; }

    }

/* misc */

.img-fluid { max-width: 100%; height: auto; }

.rounded-0 { border-radius: 0 !important; }

.rounded-circle { border-radius: 50% !important; }

.rounded-pill { border-radius: 50rem !important; }

/* btn */

.btn {
    font-family: var(--font-family-default);
    position: relative;
    overflow: hidden;
    z-index: 999;
    text-align: center;
    padding: 20.5px;
    -webkit-appearance: inherit;
    border-radius: 50rem;
    width: 100%;
    cursor: pointer;
}

.btn:disabled {
    opacity: .6;
    cursor: not-allowed;
}

.btn-primary { background-color: var(--primary); }

.btn-secondary { background-color: var(--secondary); }

.btn-tertiary { background-color: var(--tertiary); }

.btn-primary:hover, 
.btn-secondary:hover, 
.btn-tertiary:hover {
    transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    -webkit-transition: .3s;
}

/* 

breakpoints

    sm - 500
    md - 959 
    lg - 1024

*/